* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --box-shadow: 1px 1px 10px #865a5b;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
}

p {
  font-family: "Lora", serif;
}

header {
  margin: 0 auto;
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #ffe2cb), color-stop(44%, #ff9899), to(#beedff));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #ffe2cb 0%, #ff9899 44%, #beedff 100%);
  position: relative;
}

a {
  text-decoration: none;
}

.header-list a:hover {
  color: #a50045;
}

.header-begin, .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
  position: relative;
}

.login-btn, .Create-btn, .try-btn, .view-btn, .contact-btn, .top-btn, .active-btn, .market-btn, .profile-btn {
  width: 130px;
  height: 40px;
  margin: 1rem 0.5rem 1rem 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px #865a5b;
          box-shadow: 1px 1px 5px #865a5b;
}

.Create-btn, .try-btn, .contact-btn, .top-btn, .market-btn, .clients-date, .rate1, .profile-btn {
  background-color: #e00d81;
  width: 130px;
  color: #fff;
}

/* header main*/
.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.try-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main-img {
  display: block;
  min-height: 300px;
}

.check-icon {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.fa-youtube {
  position: absolute;
  width: 5px;
  right: 1530px;
  bottom: 550px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  color: red;
}

.lady-icon {
  display: block;
  border-radius: 50%;
}

.review-text {
  height: 100px;
  color: #fff;
  background-color: #4040a3;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 30px 30px 0 30px;
  padding-top: 1rem;
  font-family: "Rubik", sans-serif;
}

.rate-icon {
  width: 22px;
}

/*main*/
/*section 1 (features)*/
.features {
  position: relative;
}

.fea-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fea-header-logo-h2 {
  margin-left: 1rem;
}

.left-des-icons {
  margin-left: 4.5rem;
}

.features-texts h2 {
  margin-bottom: 0.5rem;
  font-family: "Rubik", sans-serif;
}

.calc-icon {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 20px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.find-des, .active-review {
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin-top: 3rem;
}

.exp-level {
  margin: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  background-color: #d6f2fc;
}

.exp-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rate {
  border-radius: 10px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: #fff;
}

.rate .rate1 {
  width: 0px;
  height: 48px;
  border-radius: 0 5px 5px 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: -155;
  -webkit-animation: lowToHigh 1s ease-in forwards;
          animation: lowToHigh 1s ease-in forwards;
}

@-webkit-keyframes lowToHigh {
  100% {
    width: 150px;
  }
}

@keyframes lowToHigh {
  100% {
    width: 150px;
  }
}

.low-rate h2, .high-rate h2 {
  font-size: 1.3rem;
}

.find-des-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.contact-btn, .view-btn, .profile-btn {
  height: 60px;
  font-weight: bold;
}

.reset-parg {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #3f3636;
}

.empty-box1 {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #c3d1ff), color-stop(44%, #ddecff), to(#d8e7ff));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #c3d1ff 0%, #ddecff 44%, #d8e7ff 100%);
}

.empty-box2 {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #ffe6fb), color-stop(44%, #ffc7d8), to(#fce9f7));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #ffe6fb 0%, #ffc7d8 44%, #fce9f7 100%);
}

.feat1-text, .feat2-text, .feat3-text {
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.star2-mark, .circle-mark, .metric-mark {
  padding: 1rem;
  border-radius: 100%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  margin-right: 2rem;
}

/*section 2 (review)*/
.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-top: 2rem;
}

.review-text2 {
  text-align: center;
}

.review-text2-parg {
  color: #b90b6b;
  font-weight: bold;
}

.will-img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.will-img img {
  width: 100%;
}

.will-review {
  text-align: center;
}

.will-review h3, .will-review p {
  margin-bottom: 0.3rem;
}

.review-board {
  margin-top: 2rem;
}

.active-review {
  padding: 1.5rem 2rem  1.5rem 2rem;
}

.review-info {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review-info ul {
  list-style-type: none;
  font-size: 1rem;
  line-height: 1.8rem;
}

.titles-list {
  margin-right: 4rem;
}

.info-list {
  color: #584e4e;
}

.top-review-box, .freelancer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: #fff;
}

.regular-user, .profile-user {
  width: 130px;
  height: 140px;
  position: absolute;
  border-radius: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.regular-user {
  background-color: #b90b6b;
  color: #fff;
}

.profile-user {
  background-color: #fff;
  color: #000;
}

.top-btn, .active-btn {
  width: 70px;
  height: 30px;
  border-radius: 50px;
  font-size: 1rem;
}

.active-btn {
  margin: 0 0 0 12rem;
  background-color: #c1fccb;
  width: 70px;
  color: #097e1d;
}

.top-btn {
  margin: 0 0.2rem 3.5rem 0.5rem;
}

.yellow-img, .white-img, .freelancers-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0.6rem;
}

.freelancers-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.freelancers-img {
  width: 55px;
  height: 45px;
  margin: 1rem 0.5rem 0.2rem;
}

.freelancers {
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.yellow-img img {
  width: 150px;
  margin-left: -50px;
}

.white-img img {
  width: 150px;
  margin-left: -20px;
}

.grow-icon, .fb-icon, .star-icon, .metric-icon, .play-red-icon, .insta-icon, .message-icon, .stars-icon, .yel-star-icon, .messenger-icon {
  position: absolute;
}

.user-text {
  margin-top: 4rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
}

.user-text .num {
  font-size: 2rem;
}

.freelancers-text {
  text-align: center;
  margin-top: 12rem;
}

.growth {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: #fff;
}

.metric-icon {
  width: 120px;
  height: 80px;
  left: 8px;
}

.star-icon {
  right: -25px;
  top: -25px;
}

.fb-icon, .insta-icon, .message-icon {
  width: 60px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

/*market (section 3)*/
.market {
  position: relative;
}

.market-board {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #ffe2cb), color-stop(44%, #ff9899), to(#beedff));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #ffe2cb 0%, #ff9899 44%, #beedff 100%);
  border-radius: 20px;
  padding: 4rem 3rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.market-headline {
  margin-bottom: 2rem;
}

.market-parg {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #5c3e3e;
}

.clients-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-visit, .clients-date {
  width: 160px;
  height: 60px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  text-align: center;
  padding: 1.2rem;
  margin-top: 1rem;
}

.clients-visit {
  border-radius: 20px 0 0 20px;
  background-color: #e79821;
  color: #fff;
}

.clients-date {
  border-radius: 0 20px 20px 0;
}

.metric-board {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.metric-num-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1.5rem 2rem 2rem 2rem;
}

.metric-num {
  list-style: none;
  font-size: 1.4rem;
}

.metric-num li {
  padding: 0.2rem 0 1rem 0;
}

.metric-num-icon {
  width: 270px;
  height: 190px;
}

.messenger-icon {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.freelancers-levels {
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.freelancer-level1, .freelancer-level2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.freelancers-levels .freelancers-img {
  height: 50px;
  width: 50px;
}

.level-board {
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: 1;
}

.level-row1, .level-row2 {
  margin-top: 0.5rem;
  width: 0px;
  border-radius: 5px;
  height: 20px;
  -webkit-animation: lowToHigh1 1s ease-in forwards;
          animation: lowToHigh1 1s ease-in forwards;
}

@-webkit-keyframes lowToHigh1 {
  100% {
    width: 225px;
  }
}

@keyframes lowToHigh1 {
  100% {
    width: 225px;
  }
}

.level-row1 {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #fff4e6), color-stop(44%, #ffe7c6), to(#fff3ee));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #fff4e6 0%, #ffe7c6 44%, #fff3ee 100%);
}

.level-row2 {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #ffe6fb), color-stop(44%, #ffc7d8), to(#fce9f7));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #ffe6fb 0%, #ffc7d8 44%, #fce9f7 100%);
}

.stars-icon, .yel-star-icon, .messenger-icon {
  width: 60px;
  padding: 4px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px #a78b8b;
          box-shadow: 5px 5px 10px #a78b8b;
}

/*section4 (numbers)*/
.headline-num p {
  color: #2398ff;
  font-weight: bold;
}

.flex-nums h2 {
  margin-bottom: 1rem;
}

.flex-nums p {
  color: #888080;
}

.flex-nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.users, .clients, .feedback {
  padding: 4rem 3rem;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: #fff;
}

.users-box, .clients-box, .feedback-box, .feat, .platform-visitors-box {
  padding: 3rem;
  border-radius: 20px;
  margin: 3rem 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.users-box, .feat1, .blue-dot {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #c3d1ff), color-stop(44%, #ddecff), to(#d8e7ff));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #c3d1ff 0%, #ddecff 44%, #d8e7ff 100%);
}

.clients-box, .feat2, .yellow-dot {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #fff4e6), color-stop(44%, #ffe7c6), to(#fff3ee));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #fff4e6 0%, #ffe7c6 44%, #fff3ee 100%);
}

.feedback-box, .feat3 {
  background: #ffe1ae;
  background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #ffe6fb), color-stop(44%, #ffc7d8), to(#fce9f7));
  background: linear-gradient(to bottom right, #ffe1ae 0%, #ffe6fb 0%, #ffc7d8 44%, #fce9f7 100%);
}

/*section5 (platform)*/
.platform-parg {
  margin: 2rem 0rem;
  line-height: 1.8rem;
}

.feat {
  list-style: none;
  padding: 2rem;
  margin: 1rem 0;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.feat1 {
  color: #2d00d1;
}

.feat2 {
  color: #695a00;
}

.feat3 {
  color: rgba(26, 0, 13, 0.438);
}

.girl-icon, .shake-icon, .bag-icon, .f-icon, .instagram-icon, .twitter-icon, .youtube-icon {
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: #fff;
  margin-right: 2rem;
  width: 50px;
}

.platform-freelancer {
  display: block;
  width: 100%;
}

.scale {
  position: absolute;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

/*footer*/
footer {
  color: #fff;
  background-color: #000329;
}

.footer-text {
  width: 85%;
  margin: 0 auto;
}

.footer-top, .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0;
  border-bottom: 1px solid #888888;
}

.footer-list h2 {
  padding-bottom: 2rem;
}

.footer-list li {
  list-style: none;
  padding-bottom: 1rem;
}

.footer-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.f-icon, .instagram-icon, .twitter-icon, .youtube-icon {
  width: 40px;
  padding: 0.5rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

.f-icon:hover, .instagram-icon:hover, .twitter-icon:hover, .youtube-icon:hover {
  background-color: #ff7300;
}

.subscribe-info {
  border: 2px solid #888888 fff;
}

.sub-email, .personal-info, .social-media-icons, .sub-num {
  padding: 1rem 0;
}

.letter-icon, .right-arrow-icon {
  width: 25px;
  margin-right: 0.5rem;
}

.sub-email {
  border-bottom: 1px solid #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-info {
  font-size: 0.8rem;
  color: #888888;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sub-num {
  font-size: 1.4rem;
}

footer li {
  color: lightgrey;
}

/*mobile responsive*/
@media (max-width: 450px) {
  header {
    padding: 0rem 1.2rem;
  }
  .header-buttons {
    position: absolute;
    left: -1000px;
  }
  .header-icon {
    padding-right: 0.5rem;
  }
  .header-begin {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fa-align-left, .fa-times {
    margin: 1rem 1rem 0 0;
    cursor: pointer;
    color: black;
  }
  .fa-times {
    position: fixed;
    top: 10px;
    right: 1px;
    z-index: 1111;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    padding: 2px 5px;
  }
  a {
    color: #fff;
  }
  .backdrop {
    position: fixed;
    width: 200px;
    right: -200px;
    top: 0px;
    opacity: 0.8;
    z-index: 100;
  }
  .header-nav ul {
    position: fixed;
    width: 200px;
    height: 100%;
    right: -200px;
    top: 0px;
    background-color: black;
    -webkit-animation: slow-enter 1.2s  ease-in-out forwards;
            animation: slow-enter 1.2s  ease-in-out forwards;
  }
  @-webkit-keyframes slow-enter {
    100% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
  @keyframes slow-enter {
    100% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
  .header-nav li {
    border-bottom: 1px solid grey;
    padding: 2rem 0 0.2rem 1rem;
    font-size: 1.5rem;
    list-style: none;
    color: #fff;
  }
  /*header main*/
  .header-main {
    margin: 2rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-main-h1 {
    font-size: 2.3rem;
    padding-bottom: 1rem;
  }
  .header-main-parg {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding-bottom: 1rem;
  }
  .try-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .play-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .play-icon img {
    width: 45px;
    padding-right: 0.5rem;
  }
  .fa-youtube {
    display: none;
  }
  .header-main-img {
    width: 100%;
  }
  .check-icon {
    position: absolute;
    width: 50px;
    right: 280px;
    bottom: 200px;
  }
  .star-yel-icon {
    position: absolute;
    width: 50px;
    right: 40px;
    bottom: 380px;
  }
  .phone-icon {
    position: absolute;
    width: 80px;
    right: 35px;
    bottom: 110px;
  }
  .send-icon {
    position: absolute;
    width: 50px;
    right: 270px;
    bottom: -30px;
  }
  .lady-icon {
    display: none;
  }
  .review-text {
    display: none;
  }
  /*main*/
  /*section 1 (features)*/
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .find-des {
    margin: 3rem 2rem;
  }
  .find-des, .active-review {
    width: 300px;
  }
  .fea-header-logo {
    margin: 1rem;
  }
  .fet-header-icon {
    width: 30px;
  }
  .fea-header-logo-h2 {
    font-size: 1rem;
  }
  .black-star-icon, .dots-icon {
    width: 20px;
  }
  .rate {
    width: 240px;
    height: 40px;
  }
  .contact-btn, .view-btn, .profile-btn {
    width: 250px;
  }
  .reset-parg {
    font-size: 1rem;
  }
  .empty-box1, .empty-box2 {
    width: 250px;
    height: 220px;
    position: absolute;
    z-index: -1;
    border-radius: 50px 0;
  }
  .empty-box1 {
    top: 0px;
    left: 10px;
  }
  .empty-box2 {
    top: 400px;
    right: 10px;
  }
  .calc-icon {
    right: 0;
    top: 0;
  }
  .features-text {
    margin-bottom: 2rem;
  }
  .features-headline {
    font-size: 1.4rem;
    margin: 2rem 0 3rem 2rem;
  }
  .features-texts {
    margin: 0 2rem;
  }
  .features-texts h2 {
    font-size: 1.2rem;
  }
  /*section 2 (review)*/
  .review, .top-review-box, .freelancer-box, .platform {
    position: relative;
  }
  .review-text2-h1 {
    font-size: 2rem;
  }
  .review-info ul {
    padding: 1rem 0;
  }
  .active-review {
    margin: 4rem 0 0 1rem;
  }
  .top-review-box, .freelancer-box {
    border-radius: 20px;
  }
  .top-btn {
    margin-right: 0.5rem;
  }
  .freelancers {
    width: 280px;
    height: 300px;
    margin: 4rem 0;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  .regular-user, .profile-user {
    bottom: 620px;
  }
  .regular-user {
    right: 220px;
  }
  .profile-user {
    left: 220px;
  }
  .growth {
    border-radius: 20px;
    margin-top: 4rem;
    width: 320px;
    height: 240px;
  }
  .growth h2 {
    padding: 2rem;
    font-size: 1.8rem;
  }
  .grow-icon {
    width: 200px;
    bottom: 2px;
    left: 85px;
  }
  .play-red-icon {
    width: 38px;
    top: 1px;
    left: 80px;
  }
  .fb-icon {
    left: 280px;
    bottom: 820px;
  }
  .insta-icon {
    bottom: 210px;
    right: 80px;
  }
  .message-icon {
    top: 320px;
    left: 70px;
  }
  /*section 3 (market)*/
  .market {
    margin-top: 4rem;
  }
  .market-headline {
    font-size: 2.3rem;
    text-align: center;
  }
  .market-parg {
    text-align: center;
  }
  .market-btn, .profile-btn {
    width: 285px;
    height: 60px;
    margin: 0 auto;
  }
  .market-btn {
    width: 310px;
  }
  .metric-board {
    margin: 4rem 2rem;
    padding-top: 1rem;
  }
  .clients-visit, .clients-date {
    width: 140px;
  }
  .level-board {
    margin: 2rem 2rem;
  }
  .yel-star-icon {
    bottom: 490px;
    left: 40px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    z-index: 100;
  }
  .stars-icon {
    right: 260px;
    top: -30px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  .messenger-icon {
    right: 40px;
    top: 780px;
  }
  .yellow-board {
    display: none;
  }
  /*numbers (section4)*/
  .numbers {
    margin: 4rem 2rem;
  }
  .headline-num {
    text-align: center;
  }
  .headline-num h1 {
    font-size: 2.5rem;
  }
  .flex-nums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-nums h2 {
    font-size: 1.7rem;
  }
  .flex-nums p {
    font-size: 0.9rem;
  }
  .users {
    padding: 3.5rem 3.7rem;
  }
  /*platform (section5)*/
  .platform {
    margin: 0 2rem;
  }
  .platform-text {
    text-align: center;
  }
  .platform-headline {
    font-size: 3.5rem;
  }
  .platform-list {
    width: 340px;
  }
  .platform-visitors-box {
    display: none;
  }
  .fa-camera-retro {
    display: none;
  }
  .scale {
    bottom: -35px;
    left: 20px;
    width: 50px;
  }
  /*footer*/
  .footer-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer-top, .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fa-plus, .fa-minus {
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
  }
  .footer-list-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 300px;
  }
  .company, .trustus, .resources, .extras {
    border-top: 1px solid grey;
    padding-top: 0.5rem;
  }
  .logo-star-icon {
    display: none;
  }
}

/*laptop responsive*/
@media (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
  .header-icon {
    position: absolute;
    right: 100px;
    top: -22px;
  }
  .fa-align-left, .fa-times {
    display: none;
  }
  a {
    color: black;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 2rem;
  }
  .header-list {
    list-style-type: none;
    margin: 1rem 1rem;
    font-weight: bold;
  }
  .header-buttons {
    margin: 0 1rem;
    padding: 0 1rem;
  }
  .login-btn {
    background-color: #fff;
    width: 90px;
    color: #000;
  }
  /*header main*/
  .header-main-text {
    margin-left: 5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-main-h1 {
    font-size: 4.5rem;
    margin: 6rem 2rem 2rem 0;
  }
  .header-main-parg {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
  .try-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .play-icon img {
    margin-left: 3rem;
    width: 40px;
  }
  .play-icon p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
  .play-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-images {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header-main-img {
    width: 80%;
    margin: 2rem 2rem 0 2rem;
    padding-right: 6rem;
  }
  .check-icon {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
    position: absolute;
    width: 70px;
    right: 600px;
    bottom: 260px;
  }
  .star-yel-icon {
    position: absolute;
    width: 80px;
    right: 220px;
    bottom: 460px;
  }
  .phone-icon {
    position: absolute;
    width: 120px;
    right: 170px;
    bottom: -70px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .send-icon {
    position: absolute;
    width: 70px;
    right: 780px;
    bottom: -40px;
  }
  .lady-icon {
    height: 10%;
    position: absolute;
    width: 5%;
    right: 70px;
    bottom: 80px;
  }
  .review-text {
    position: absolute;
    width: 18%;
    right: 130px;
    bottom: 160px;
  }
  /*main*/
  /*Section 1 (Features)*/
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 8rem 8rem;
  }
  .find-des {
    margin-left: 4rem;
    width: 400px;
  }
  .fea-header-logo {
    margin: 1.5rem;
  }
  .black-star-icon, .dots-icon {
    width: 25px;
  }
  .rate {
    width: 330px;
    height: 50px;
  }
  .contact-btn, .view-btn, .profile-btn {
    width: 320px;
  }
  .reset-parg {
    font-size: 1.2rem;
  }
  .empty-box1, .empty-box2 {
    width: 300px;
    height: 220px;
    position: absolute;
    z-index: -1;
    border-radius: 50px 0;
  }
  .empty-box1 {
    bottom: 400px;
    left: 80px;
  }
  .empty-box2 {
    bottom: -50px;
    left: 260px;
  }
  .calc-icon {
    bottom: 540px;
    left: 490px;
  }
  .features-text {
    margin-bottom: 5rem;
  }
  .features-headline {
    font-size: 2.2rem;
    margin: 0 0 3rem 4rem;
  }
  .features-texts h2 {
    font-size: 1.5rem;
  }
  /*review section2*/
  .review {
    margin-top: 8rem;
  }
  .review-text2-h1 {
    font-size: 3rem;
  }
  .review-info ul {
    padding: 1rem 0.5rem;
  }
  .will-review h3, .will-review p {
    margin-bottom: 0.3rem;
  }
  .empty-box3 {
    width: 1150px;
    height: 590px;
    position: absolute;
    z-index: -1;
    border-radius: 50px 0;
    background: #ffe1ae;
    background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #c3d1ff), color-stop(44%, #ddecff), to(#d8e7ff));
    background: linear-gradient(to bottom right, #ffe1ae 0%, #c3d1ff 0%, #ddecff 44%, #d8e7ff 100%);
    border-radius: 50px;
    left: 180px;
  }
  .top-review-box, .freelancer-box {
    width: 330px;
    height: 120px;
    position: absolute;
    border-radius: 20px;
  }
  .top-review-box {
    left: 110px;
    top: 200px;
  }
  .freelancer-box {
    right: 200px;
    bottom: 10px;
  }
  .freelancers {
    width: 250px;
    height: 300px;
    position: absolute;
    border-radius: 20px;
    top: 140px;
    right: 140px;
  }
  .regular-user, .profile-user {
    top: 30px;
  }
  .regular-user {
    right: 100px;
  }
  .profile-user {
    right: -50px;
  }
  .growth {
    width: 250px;
    height: 240px;
    position: absolute;
    z-index: -1;
    border-radius: 50px 0;
    bottom: -70px;
    left: 300px;
  }
  .growth h2 {
    margin: 2rem;
  }
  .grow-icon {
    width: 185px;
    bottom: 2px;
    left: 28px;
  }
  .play-red-icon {
    width: 40px;
    top: 1px;
    left: 85px;
  }
  .fb-icon {
    left: 340px;
    bottom: 240px;
  }
  .insta-icon {
    bottom: 170px;
    right: 60px;
  }
  .message-icon {
    top: 130px;
    left: 650px;
  }
  /*Market section3*/
  .market-grid {
    display: -ms-grid;
    display: grid;
    margin: 12rem 8rem;
    -ms-grid-columns: 640px 80px 140px 250px 50px 30px;
        grid-template-columns: 640px 80px 140px 250px 50px 30px;
    -ms-grid-rows: 50px 30px 240px 50px 90px 80px 85px;
        grid-template-rows: 50px 30px 240px 50px 90px 80px 85px;
  }
  .market-board {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2/8;
  }
  .market-headline {
    font-size: 2.2rem;
    width: 530px;
  }
  .yellow-board {
    background: #ffe1ae;
    background: -webkit-gradient(linear, left top, right bottom, from(#ffe1ae), color-stop(0%, #fff4e6), color-stop(44%, #ffe7c6), to(#fff3ee));
    background: linear-gradient(to bottom right, #ffe1ae 0%, #fff4e6 0%, #ffe7c6 44%, #fff3ee 100%);
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
    border-radius: 20px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    position: relative;
  }
  .fa-circle {
    position: absolute;
  }
  .circle1 {
    color: #fff;
    bottom: 30px;
    right: 70px;
  }
  .circle2 {
    color: #c5c0c0;
    top: 220px;
    left: 30px;
  }
  .circle3 {
    color: #ffde25;
    top: 30px;
    left: 250px;
  }
  .metric-board {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .clients-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients-visit, .clients-date {
    width: 160px;
  }
  .level-board {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  .yel-star-icon {
    top: 420px;
    left: 100px;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .stars-icon {
    right: 80px;
    top: -30px;
  }
  .messenger-icon {
    right: -100px;
    top: 300px;
  }
  /*numbers (section4)*/
  .numbers {
    margin: 0rem 6.5rem;
  }
  .headline-num {
    margin-left: 2rem;
  }
  .headline-num h1, .platform-headline, .footer-title {
    font-size: 3rem;
  }
  .flex-nums h2 {
    font-size: 2rem;
  }
  .flex-nums p {
    font-size: 1.5rem;
  }
  .users {
    padding: 4rem 4rem;
  }
  /*Platform scetion5*/
  .platform {
    margin: 6rem 6.5rem 0 6.5rem;
    position: relative;
  }
  .platform-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .platform-text {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  .platform-list {
    width: 500px;
  }
  .platform-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .platform-visitors-box {
    width: 235px;
    height: 220px;
    padding: 0.5rem;
    position: absolute;
    right: 420px;
    top: 200px;
    background-color: #fff;
    z-index: 1;
  }
  .visitors-title {
    margin-bottom: 0.5rem;
  }
  .platform-clients, .platform-freelancers {
    text-align: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  .dot-icon {
    border-radius: 50%;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    width: 25px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  .fa-camera-retro {
    position: absolute;
    right: 0;
    bottom: 450px;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .scale {
    bottom: -25px;
    width: 55px;
  }
  /*footer*/
  .fa-plus, .fa-minus {
    display: none;
  }
  .company, .resources, .trustus, .extras {
    display: block;
  }
  .logo-star-icon {
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */